@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@zendeskgarden/css-bedrock';

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.puasa-senin-kamis {
  background-color: #17494d !important;
  color: #f5fcfc;
  padding: 8px;
  /* border-radius: 4px; */
}

.puasa-ramadhan {
  background-color: #1f73b7 !important;
  color: #f5fcfc !important;
  padding: 8px;
}

.puasa-ayaamul-bidh {
  background-color: #6a27b8 !important;
  color: #f5fcfc !important;
  padding: 8px;
}

.puasa-syawal {
  background-color: #ffeedb !important;
  /* color: #f5fcfc; */
  padding: 8px;
}

.puasa-arafah {
  background-color: #d653c2 !important;
  color: #f5fcfc !important;
  padding: 8px;
}

.puasa-tasua-asyura {
  background-color: #2e8200 !important;
  color: #f5fcfc !important;
  padding: 8px;
}

.dilarang-puasa-tasyrik {
  background-color: #e35b66 !important;
  color: #f5fcfc !important;
  padding: 8px;
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}
